<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: head_title}) %>
</head>
<body>

    <header id="top">
        <%- include('partials/header') %>
    </header>

    <main>
        <section class="container">            
            <div class="inner" id="blogGalery">
              <% imagenes.forEach(imagen => { %>
                  <figure>
                      <img 
                          src="<%- imagen.thumbnail %>" 
                          data-title="<%- imagen.title %>"
                          data-intro="<%- imagen.intro %>"
                          data-category="<%- imagen.category %>"
                          data-content="<%- imagen.content %>">
                      <figcaption><%- imagen.title %></figcaption>
                  </figure>        
              <% }) %>  
            </div>

            <%- include('partials/entrada') %>
        </section>
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="/javascripts/script.js"></script>
    
</body>
</html>
